.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.graph {
  float: left;
  width: 700px;
}
.list {
  float: right;
  width: 250px;
  background: #b0b8cc;
  text-align: left;
  padding: 12px;
  min-height: 500px;
}
.feature {
  padding: 10px 0;
}
.feature input {
  font-size: 16px;
}

.scheduleLines line {
  stroke: #ccc;
}
